
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin-page{
    padding-top: 0px;
    width: 100%;
}

.page-header {
    padding-bottom: 10px;
    margin: 5px 0 22px;
    border-bottom: 1px solid #eeeeee;
  }